.nav-img{
    border-radius: 30px;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("https://mcdn.wallpapersafari.com/medium/0/60/mqWKX5.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }


#mypoke{
    color: orange;
    font-family: 'Press Start 2P', cursive;
}