{% extends 'base.html' %}


{% block content %}
<div class="card-group">
    <div class="card text-center" style="width: 18rem;">
        <img src="{{pokemon.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">{{pokemon.pokemon.name.title()}} Has been caught!</h2>
            <p class="card-text">Ability : {{pokemon.ability.title()}} </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Pokemon ID : {{pokemon.poke_id}}</li>
                <li class="list-group-item">Base HP : {{pokemon.base_hp}}</li>
                <li class="list-group-item">Base Attack : {{pokemon.base_attack}}</li>
                <li class="list-group-item">Base Defense : {{pokemon.base_defense}}</li>
            </ul>
            <a href="#" class="btn btn-danger">My Team!</a>
        </div>
    </div>
{% endblock %}