{% extends 'base.html' %}


{% block content %}

<div class=" mt-3 text-center">
    <h1 id="header">Pokemon slot machine!</h1>
    <a href="{{ url_for('pokemon.catchAll', p1=pokemon1.id,p2=pokemon2.id,p3=pokemon3.id,p4=pokemon4.id,p5=pokemon5.id)}}"
        class="btn btn-warning">Make this my team!</a>
    <a href="{{ url_for('randomPokemon')}}"
        class="btn btn-info">Re-roll for another team!</a>
</div>

<div class="border border-dark bg-dark text-center mt-3">

    <div class="card-group">
        <div class="card text-center" style="width: 18rem;">
            <img src="{{pokemon1.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{pokemon1.pokemon_name.title()}}!</h2>
                <p class="card-text">Ability : {{pokemon1.ability.title()}} </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Base HP : {{pokemon1.base_hp}}</li>
                    <li class="list-group-item">Base Attack : {{pokemon1.base_attack}}</li>
                    <li class="list-group-item">Base Defense : {{pokemon1.base_defense}}</li>
                </ul>
            </div>
        </div>


        <div class="card text-center" style="width: 18rem;">
            <img src="{{pokemon2.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{pokemon2.pokemon_name.title()}}!</h2>
                <p class="card-text">Ability : {{pokemon2.ability.title()}} </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Base HP : {{pokemon2.base_hp}}</li>
                    <li class="list-group-item">Base Attack : {{pokemon2.base_attack}}</li>
                    <li class="list-group-item">Base Defense : {{pokemon2.base_defense}}</li>
                </ul>
            </div>
        </div>


        <div class="card text-center" style="width: 18rem;">
            <img src="{{pokemon3.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{pokemon3.pokemon_name.title()}}!</h2>
                <p class="card-text">Ability : {{pokemon3.ability.title()}} </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Base HP : {{pokemon3.base_hp}}</li>
                    <li class="list-group-item">Base Attack : {{pokemon3.base_attack}}</li>
                    <li class="list-group-item">Base Defense : {{pokemon3.base_defense}}</li>
                </ul>
            </div>
        </div>


        <div class="card text-center" style="width: 18rem;">
            <img src="{{pokemon4.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{pokemon4.pokemon_name.title()}}!</h2>
                <p class="card-text">Ability : {{pokemon4.ability.title()}} </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Base HP : {{pokemon4.base_hp}}</li>
                    <li class="list-group-item">Base Attack : {{pokemon4.base_attack}}</li>
                    <li class="list-group-item">Base Defense : {{pokemon4.base_defense}}</li>
                </ul>
            </div>
        </div>


        <div class="card text-center" style="width: 18rem;">
            <img src="{{pokemon5.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{pokemon5.pokemon_name.title()}}!</h2>
                <p class="card-text">Ability : {{pokemon5.ability.title()}} </p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Base HP : {{pokemon5.base_hp}}</li>
                    <li class="list-group-item">Base Attack : {{pokemon5.base_attack}}</li>
                    <li class="list-group-item">Base Defense : {{pokemon5.base_defense}}</li>
                </ul>
            </div>

        </div>
    </div>


    {% endblock %}